@inherits LayoutComponentBase

<div class="login-con">
    <div class="login-body">
        @Body
    </div>
    </div>

<style>
    .login-con{
    width: 100%;
    overflow: hidden;
    background-color: #2d3a4b;
    position: relative;
    }
    .login-body{
   width: 520px;
margin-top: -225px;
position: absolute;
left: 50%;
top:50%;
   margin-left: -260px;
    }
</style>